@-moz-document url-prefix("https://www.dcu-online.org/tob/live/usp-core/app/home/frame") {
body {
    overflow: hidden;
}

#appContainer {
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000000000;
}

}
